:root {
    /* fonts */
    --main-font: 'Roboto', sans-serif --secondery-'font:Raleway', sans-serif
        /* text color */

        --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #E5E5E5;

    /* bg colors */
    --light-bg-cl: #ffffff;
    --dark-bg-olor: #2F303A;
}

.body {
    font-family: Roboto;
    color: #757575;
    ;
}

/* reset stayles */
ul {
    list-style: none;
    text-decoration: none;
}

/* Header*/
.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: calc(16/26);
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.logo-studio {
    font-weight: 700;
    font-size: 26px;
    line-height: calc(16/26);
    letter-spacing: 0.03em;
    color: #212121;
}

/* nav */
.link-studio {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #2196F3;
}

.link-studio:hover,
.link-studio:focus {
    text-decoration: underline;

}

.link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #212121;
}

.namber {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #757575;
}

.namber:hover,
.namber:focus {
    text-decoration: underline;
}

/* hero */
.hero {
    background: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-button {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

.hero-button:hover,
.hero-button:focus {
    text-decoration: underline;
}

.button-text {
    font-family: inherit;
}

/* AAbout */
.about {}

.about-title {
    text-decoration: hidden;
}

.about-text {
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.about-item {
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

/* review */
.review {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/* Teams */
.teams-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.teams-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.teams {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* footer */
.footer {
    background-color: #2F303A;
}

.footer-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: calk(16/26);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address {
    font-family: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-mail {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-mail:focus {
    text-decoration: underline;
}

.footer-tell {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tell:hover,
.footer-tell:focus {
    text-decoration: underline;
}

/* portfolio.html */
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-item {
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Button */
.all-button {
    position: absolute;
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
    background: #2196F3;
}

.all-button-text {
    color: #FFFFFF;
}

.button {
    background: #F5F4FA;
    border-radius: 4px;
}

.button-text {
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}